/* основной цвет + номер телефона в шапке #757575 */
/* цвет акцент #2196F3 */
/* белый #ffffff */
/* цвет заголовков #212121 */
/* футер rgba(255,255,255,0.6) */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --accent-section-color: #f5f4fa;
}
/* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */
.button.primary {
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 200px;
  padding: 11px 32px;
  display: inline-block;
  min-width: 136px;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
/* Утилиты */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Скрывает ненужный элемент (скрытые заголовки) */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p {
  margin: 0;
}
/* Main nav */
.main-nav {
  display: flex;
  align-items: center;
}

/*Логотип*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-footer {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 10px;
}

.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: black;
}
.logo-foot {
  color: var(--primary-white-color);
}
/* Навигация сайта */
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
}
.site-nav {
  display: flex;
  margin-left: 86px;
}
/* Альтернативный вариант */
/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */
.site-nav .item + .item {
  margin-left: 50px;
}
/* Cont nav */
.cont-nav {
  display: flex;
  margin-left: auto;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.cont-nav .item + .item {
  margin-left: 50px;
}
.link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.link:hover,
.link:focus,
.studio :hover,
.studio:focus,
.portfolio:hover,
.portfolio:focus,
.contact:hover {
  color: var(--accent-text-color);
}
/* Футер */
footer {
  background-color: #2f303a;
  color: var(--primary-white-color);
}
.page-footer {
  display: flex;
  align-items: baseline;
  padding-top: 48px;
}
.footer-address {
  margin-right: 69px;
  }

.address-container {
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}
.add {
      margin-top: 0;
      margin-bottom: 9px;
 }
 .add-link{
   display: inline-block;
 }
 .add-link:not(:last-child){
   margin-bottom: 9px;
 }
}
.footer-slikns {
  padding-bottom: 21px;
  margin-right: 93px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
  .slikns-links:not(:last-child) {
    margin-right: 10px;
}
 .slikns-text {
  margin-bottom: 21px;
  margin-right: 155px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
} 
.email-input {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.87;
    display: inline-block;
    min-width: 270px;
    padding: 10px 58px 10px 12px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-image: initial;
}

.copyringht {
  color: rgba(255, 255, 255, 0.4);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
