h2 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
h1 {
  margin-top: 0;
  margin-bottom: 0px;
}
p {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}
.button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  margin-right: 8px;
  border-radius: 4px;
}
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.text {
  display: none;
}
.description .description-item {
  /* width: calc((100%-30px * 2) / 3); */
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}
.description .description-item:nth-child(3n) {
  margin-right: 0;
}
.description .description-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.link-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.project {
  padding-bottom: 50px;
  text-align: center;
  justify-content: center;
}
.project img {
  display: block;
  border-radius: 5px 5px 0px 0px;
}
.project .button {
  padding: 6px 22px 6px 22px;
}
.project-title {
  text-align: left;
  margin-left: 20px;
}
